
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
      <h1 class="display-3 text-white animated slideInRight">Servicios</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb animated slideInRight mb-0">
              <li class="breadcrumb-item"><a routerLink="home">Inicio</a></li>

              <li class="breadcrumb-item active" aria-current="page">Servicios</li>
          </ol>
      </nav>
  </div>
</div>


<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="fw-medium text-uppercase text-primary mb-2">NUESTROS SERVICIOS</p>
          <h1 class="display-5 mb-4">Brindamos los mejores servicios industriales</h1>
      </div>
      <div class="row gy-5 gx-4">
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Perforación Direccional</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Servicios de perforación direccional es
                            parte de nuestras soluciones integrales de perforación.
                             Nuestro equipo de planificación proporciona la trayectoria óptima,
                             mientras que el equipo de mediciones provee información en tiempo.
                            </p>
                      </div>
                  </div>
                  <a class="btn btn-link" routerLink="/perforacion">Ver Mas</a>

                  <router-outlet></router-outlet>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Servicios de Inspección NDT</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Inspección Computarizada Electromagnética a
                            Tubería de Perforación (EMI) La inspección de tubería por medio de equipo
                            EMI es uno de los métodos más completos para detectar cortes,.</p>
                      </div>
                  </div>
                  <a class="btn btn-light" routerLink="/inspeccion">Ver Mas</a>
              </div>
          </div>


          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Sistemas de Medición</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">TIDSA provee la medición direccional de manera precisa,
                             mediante equipos y servicios de evaluación de la formación. Ofrecemos una amplia
                             variedad de servicios, desde servicios básicos como MWD solo.</p>
                      </div>
                  </div>
                  <a class="btn btn-light" routerLink="/medicion">Ver Mas</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Ingeniería y Diseño</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">Con el fin de garantizar la precisa ubicación del pozo,
                             hemos conformado un equipo experimentado de Well Planners, geólogos y personal de apoyo.
                             Trabajamos día y noche para.</p>
                      </div>
                  </div>
                  <a class="btn btn-light" routerLink="ingenieria">Ver Mas</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Sistemas de Navegación</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">En TIDSA contamos con una variedad de motores de fondo que
                             van desde diámetros de 4-3/4” hasta 9-5/8” con la mejor y mas nueva tecnología en
                             sección de poder.</p>
                      </div>
                  </div>
                  <a class="btn btn-light" routerLink="/navegacion">Ver Mas</a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item">
                  <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                  <div class="service-img">
                      <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                  </div>
                  <div class="service-detail">
                      <div class="service-title">
                          <hr class="w-25">
                          <h3 class="mb-0">Drilling Tools</h3>
                          <hr class="w-25">
                      </div>
                      <div class="service-text">
                          <p class="text-white mb-0">En TIDSA contamos con herramientas fabricadas
                             de acuerdo a las especificaciones API, las cuales están disponibles para
                             nuestros clientes.</p>
                      </div>
                  </div>
                  <a class="btn btn-light" routerLink="/drilling">Ver Mas</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->
