<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
      <h1 class="display-3 text-white animated slideInRight">Sobre Nosotros</h1>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb animated slideInRight mb-0">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>

              <li class="breadcrumb-item active" aria-current="page">Sobre Nosotros</li>
          </ol>
      </nav>
  </div>
</div>




<div class="main-content">

<div class="vc_row wpb_row vc_row-fluid vc_custom_1514315059828">
<div class="bt-vc-row-ovelay" ></div>
<div class="container"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper"><h3 style="font-size: 24px;color: #084a2f;line-height: 28px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal;letter-spacing: -0.02em" class="vc_custom_heading vc_custom_1514315722361">SOBRE NOSOTROS</h3><h5 style="font-size: 16px;color: #084a2f;line-height: 24px;text-align: left;letter-spacing: 0.05em;" class="vc_custom_heading vc_custom_1514314903860">Historia</h5>
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<p style="font-size: 16px; line-height: 28px; letter-spacing: 0.02em; color: #6f6f6f;">TIDSA fue formada en el año 2013 por personal con vasta experiencia en los campos mexicanos orientados en proveer los mejores resultados en base a una combinación de compromisos, tecnología, experiencia y seguridad con los más altos estándares de calidad, nace en respuesta a la creciente exigencia de servicios de perforación que garanticen el aseguramiento de las expectativas de nuestros clientes, contribuyendo activamente con el engrandecimiento de la industria petrolera en nuestro país, a través de soluciones innovadoras.</p>

</div>
</div>
<h5 style="font-size: 16px;color: #084a2f;line-height: 24px;text-align: left;letter-spacing: 0.05em;" class="vc_custom_heading vc_custom_1514315211731">Misión</h5>
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<p style="font-size: 16px; line-height: 28px; letter-spacing: 0.02em; color: #6f6f6f;">Ser una empresa que proporciona servicios y soluciones de calidad para la perforación en los campos petroleros y geotérmicos, con innovaciones tecnológicas que satisfagan las necesidades y superen las expectativas de nuestros clientes, de manera segura, rentable, confiable y sustentable.</p>

</div>
</div>
<h5 style="font-size: 16px;color: #084a2f;line-height: 24px;text-align: left;letter-spacing: 0.05em;" class="vc_custom_heading vc_custom_1514315416260">Visión</h5>
<div class="wpb_text_column wpb_content_element " >
<div class="wpb_wrapper">
<p style="font-size: 16px; line-height: 28px; letter-spacing: 0.02em; color: #6f6f6f;">Ser una empresa de reconocida calidad a nivel nacional e internacional, ágil en respuesta, y con un alto nivel de innovación en sus operaciones debido a nuestra competitividad y mejora continua.</p>

</div>
</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner"><div class="wpb_wrapper">
<div  class="wpb_single_image wpb_content_element vc_align_left">

<figure class="wpb_wrapper vc_figure">
<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="600" height="450" src="http://www.tidsa.mx/wp-content/uploads/2017/12/Nosotros.png" class="vc_single_image-img attachment-full" alt="Nosotros" loading="lazy" srcset="http://www.tidsa.mx/wp-content/uploads/2017/12/Nosotros.png 600w, http://www.tidsa.mx/wp-content/uploads/2017/12/Nosotros-300x225.png 300w" sizes="(max-width: 600px) 100vw, 600px" /></div>
</figure>
</div>

<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6">
              <div class="row gx-3 h-100">
                  <div class="col-6 align-self-start wow fadeInUp" data-wow-delay="0.1s">
                      <img class="img-fluid" src="assets/img/about-1.jpg">
                  </div>
                  <div class="col-6 align-self-end wow fadeInDown" data-wow-delay="0.1s">
                      <img class="img-fluid" src="assets/img/about-2.jpg">
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <p class="fw-medium text-uppercase text-primary mb-2">About Us</p>
              <h1 class="display-5 mb-4">We Are Leader In Industrial Market</h1>
              <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                  eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
              </p>
              <div class="d-flex align-items-center mb-4">
                  <div class="flex-shrink-0 bg-primary p-4">
                      <h1 class="display-2">25</h1>
                      <h5 class="text-white">Years of</h5>
                      <h5 class="text-white">Experience</h5>
                  </div>
                  <div class="ms-4">
                      <p><i class="fa fa-check text-primary me-2"></i>Power & Energy</p>
                      <p><i class="fa fa-check text-primary me-2"></i>Civil Engineering</p>
                      <p><i class="fa fa-check text-primary me-2"></i>Chemical Engineering</p>
                      <p><i class="fa fa-check text-primary me-2"></i>Mechanical Engineering</p>
                      <p class="mb-0"><i class="fa fa-check text-primary me-2"></i>Oil & Gas Engineering</p>
                  </div>
              </div>
              <div class="row pt-2">
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                              <i class="fa fa-envelope-open text-white"></i>
                          </div>
                          <div class="ms-3">
                              <p class="mb-2">Email us</p>
                              <h5 class="mb-0">info@example.com</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                              <i class="fa fa-phone-alt text-white"></i>
                          </div>
                          <div class="ms-3">
                              <p class="mb-2">Call us</p>
                              <h5 class="mb-0">+012 345 6789</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
